{% extends 'base.html' %}

{% block title %}
Tellate | Sign In
{% endblock %}

{% block body_class %}
entry
{% endblock %}

{% block content %}

<div class="grid-block">
    <div class="grid-container">

        {#} Form header {#}
        <h1>Sign In</h1>

        {#} Sign-up form {#}
        <form method="post">
            {% csrf_token %}

            <label>
                Email Address <input type="email" id="email" name="email" placeholder="email@email.com" />
            </label>

            <label>
                Password <input type="password" id="password" name="password" placeholder="•••••••••••" />
            </label>

            <button type="submit" class="button">Sign In</button>

            {% if error %}
            <div class="error">{{ error }}</div>
            {% endif %}
        </form>

        {#} Create-account link {#}
        <p>Don't have an account? <a href="{% url 'signup' %}">Create Account</a></p>

    </div>
</div>

{% endblock %}
