{% extends 'base.html' %}

{% block title %}
Sign Up
{% endblock %}

{% block body_class %}
entry
{% endblock %}

{% block content %}

<div class="container-fluid">

    {#} Form header {#}
    <img src="" alt="Telltale">
    <h1>Create Account</h1>

    {#} Sign-up form {#}
    <form method="post">
        {% csrf_token %}

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="email@email.com" />
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="•••••••••••" />
        </div>

        <button type="submit">Create Account</button>
    </form>

    {#} Sign-in link {#}
    <p class="account-link">Already have an account? <a href="{% url 'signin' %}">Sign In</a></p>

</div>

{% endblock %}
