{% extends 'base.html' %}
{% load markup %}

{% block title %}
My Stories
{% endblock %}

{% block body_class %}
list-stories
{% endblock %}

{% block content %}

<header>
    <h1>My Stories</h1>
    <button>New story</button>
</header>


{% if unfinished_stories %}
<ul class="stories">
    <h2>Unfinished Stories</h2>
    {% for story in unfinished_stories %}
    <li>
        <a href="{% if story.current_author == request.user %}{% url 'write-story' story.pk %}{% else %}#{% endif %}">
            <header>
                <h2>{{ story.get_title }}</h2>
                {% if story.current_author == request.user %}
                <span class="label">Your Turn!</span>
                {% else %}
                <span class="label">Writing: {{ story.current_author }}</span>
                {% endif %}
                <ul class="contributors">
                    <li class="active" data-toggle="tooltip" data-placement="bottom" title="Jonathan Harrell"><span>JH</span></li>
                    <li data-toggle="tooltip" data-placement="bottom" title="Steven Barnett"><span>SB</span></li>
                    <li data-toggle="tooltip" data-placement="bottom" title="Catherine Barnett"><span>CB</span></li>
                    <li data-toggle="tooltip" data-placement="bottom" title="Deborah Barnett"><span>DB</span></li>
                </ul>
            </header>
            {% if story.current_author == request.user %}
            <p class="excerpt">...{{ story.get_last_chunk.leadin }}...</p>
            {% endif %}
            <div class="progress">
                <div class="progress-bar"
                     role="progressbar"
                     aria-valuenow="{{ story.get_progress }}"
                     aria-valuemin="0"
                     aria-valuemax="100"
                     style="width: {{ story.get_progress }}%;"></div>
            </div>
        </a>
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if finished_stories %}
<ul class="stories">
    <h2>Finished Stories</h2>
    {% for story in finished_stories %}
    <li>
        <a href="{% url 'read-story' story.pk %}">
            <header>
                <h2>{{ story.get_title }}</h2>
                <ul class="contributors">
                    <li class="active" data-toggle="tooltip" data-placement="bottom" title="Jonathan Harrell"><span>JH</span></li>
                    <li data-toggle="tooltip" data-placement="bottom" title="Steven Barnett"><span>SB</span></li>
                    <li data-toggle="tooltip" data-placement="bottom" title="Catherine Barnett"><span>CB</span></li>
                    <li data-toggle="tooltip" data-placement="bottom" title="Deborah Barnett"><span>DB</span></li>
                </ul>
            </header>
            <article>
                <p class="exerpt">{{ story.get_preview|markdown }}</p>
            </article>
        </a>
    </li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}
