{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
New Story
{% endblock %}

{% block body_class %}
new-story
{% endblock %}

{% block head %}
<script src="{% static 'js/story-chunk.js' %}" type="text/javascript"></script>
<script type="text/javascript">
    var max_story_chunk_size = {{ settings.MAX_STORY_CHUNK_SIZE }};
    var min_story_chunk_size = {{ settings.MIN_STORY_CHUNK_SIZE }};
    var max_story_leadin_size = {{ settings.MAX_STORY_LEADIN_SIZE }};
    var min_story_leadin_size = {{ settings.MIN_STORY_LEADIN_SIZE }};
</script>
{% endblock %}

{% block content %}
<header>
    <h1>Untitled</h1>
</header>

<form role="form" method="post" id="story-chunk-form">
    {% csrf_token %}

    <div class="writing-area">
        <div id="chunk-content" class="chunk" contenteditable></div>
        <div id="chunk-leadin" class="chunk" contenteditable></div>
        <input type="hidden" id="id_content" name="content"/>
        <input type="hidden" id="id_leadin" name="leadin"/>

        {% if form.errors or form.non_field_errors %}
        <div class="alert alert-danger">
            {{ form.errors }}
            {{ form.non_field_errors }}
        </div>
        {% endif %}
    </div>

    <div class="story-stats">
        <div id="chunk-content-label" class="chunk-label active">Main Body &#40;<span id="chunk-content-chars">0</span>&#47;<span id="chunk-content-max-chars"></span>&#41;</div>
        <div id="chunk-leadin-label" class="chunk-label">Lead In &#40;<span id="chunk-leadin-chars">0</span>&#47;<span id="chunk-leadin-max-chars"></span>&#41;</div>
    </div>

    <div class="story-submit">
        <button type="submit">Submit</button>
    </div>
</form>
{% endblock content %}


{% comment %}
{% block content %}

<form role="form">
    <header>
        <img src="../../static/img/telltale-logo-gray.svg" alt="Telltale">
        <h1>Create a Story</h1>
    </header>
    <div class="form-group story-title-group">
        <label for="story-title">Title your story</label>
        <input type="text" name="story-title" id="story-title" placeholder="Title your story" maxlength="25" />
    </div>
    <footer>
        <div class="form-group">
            <label for="story-invite">Invite up to 5 additional storytellers by email address...</label>
            <input type="text" name="story-invite" id="story-invite" placeholder="Invite up to 5 additional storytellers by email address..." />
        </div>
        <div class="story-create">
            <button type="submit">Cancel</button>
            <button type="submit">Create story</button>
        </div>
    </footer>
</form>

{% endblock %}
{% endcomment %}
