{% load staticfiles %}

<div class="writing-area">

    {# If the story had a previous chunk, show its lead-in #}
    {% if story.get_last_chunk %}
    <span id="prev-chunk-leadin">...{{ story.get_last_chunk.leadin }}</span>
    {% endif %}

    {# Show the story main content field #}
    <div id="chunk-content" class="chunk" contenteditable>{{ form.data.content }}</div>
    <input type="hidden" id="id_content" name="content" value="{{ form.data.content }}"/>

    {# Only show the lead-in input field if this isn't the final story chunk #}
    {% if not final %}
    <div id="chunk-leadin" class="chunk" contenteditable>{{ form.data.leadin }}</div>
    <input type="hidden" id="id_leadin" name="leadin" value="{{ form.data.leadin }}"/>
    {% endif %}

</div>

{# The JS to update this stuff #}
<script src="{% static 'js/story-chunk.js' %}" type="text/javascript"></script>
<script type="text/javascript">
    var max_story_chunk_size = {{ settings.MAX_STORY_CHUNK_SIZE }};
    var min_story_chunk_size = {{ settings.MIN_STORY_CHUNK_SIZE }};
    var max_story_leadin_size = {{ settings.MAX_STORY_LEADIN_SIZE }};
    var min_story_leadin_size = {{ settings.MIN_STORY_LEADIN_SIZE }};
</script>
