{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
Write Story Chunk
{% endblock %}

{% block body_class %}
write-story
{% endblock %}

{% block content %}
<header>
    <h1>{{ story.get_title }}</h1>
    {% include "story-authors.html" %}
    {% include "story-progress-bar.html" %}
</header>

{% if final %}
<div class="alert alert-info">Final Segment! Make it count!</div>
{% endif %}

<form role="form" method="post" id="story-chunk-form">
    {% csrf_token %}

    {% include "story-chunk.html" %}
    {% include "story-stats.html" %}

    <footer>
        {% if user == story.manager and not final %}
        {% include "story-invitations.html" %}
        {% endif %}

        <div class="story-submit">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </footer>
</form>
{% include "form-errors.html" %}
{% endblock content %}
