//
// Custom Mixins
// --------------------------------------------------


.circle(@size) {
    .size(@size; @size);
    border-radius: 50%;
}

.placeholder-icon(@icon) {
    &::-webkit-input-placeholder {
        &:before {
            padding-right: 10px;
            font-family: 'Glyphicons Halflings';
            font-size: 12px;
            content: @icon;
        }
    }
    &::-moz-placeholder {
        &:before {
            padding-right: 10px;
            font-family: 'Glyphicons Halflings';
            font-size: 12px;
            content: @icon;
        }
    }
    &:-ms-input-placeholder {
        &:before {
            padding-right: 10px;
            font-family: 'Glyphicons Halflings';
            font-size: 12px;
            content: @icon;
        }
    }
}
