<div class="menu-group primary">
    <div class="menu-group-left">
        <ul class="menu-bar primary">
            {% if user.stories.all %}
            <li><a href="{% url 'list-stories' %}">Read stories</a></li>
            {% endif %}
            {% if top_story %}
            <li><a href="{% url 'write-story' top_story.pk %}">Contribute to a story</a></li>
            {% endif %}
            <li><a href="{% url 'new-story' %}">Add a story</a></li>
        </ul>
    </div>
    {% if user %}
    <div class="menu-group-right">
        <ul class="icon-left primary menu-bar">
            <li><a href="#">Share feedback</a></li>
            <li><a href="{% url 'user-settings' %}">Settings</a></li>
            <li><a href="{% url 'signout' %}">Logout</a></li>
        </ul>
    </div>
    {% endif %}
</div>
